body {background-color:#bcd4fc;}

h1 {font-family:arial;
	font-weight:bold;
	font-style:italic;
	color:#1a2961;
	font-size:72px;
	text-transform:uppercase;
	text-indent:40px;
	line-height:1px;
	text-align:left;}

.p1 {color:#557ab4;
	font-size:23px;
	font-weight:bold;
	font-family:arial;
	text-indent:40px;
	line-height:3px;
	text-align:left;}

table {background-color:#dbe9fd;
	border:thick solid #072372;}

td {color:#557ab4;
	font-size:15px;
	font-family:arial;
	font-style:italic;
	font-weight:bold;
	text-align:left;}

.p2 {color:#557ab4;
	font-size:19px;
	font-weight:bold;
	font-family:arial;
	line-height:5px;}

.p3 {color:#557ab4;
	font-size:19px;
	font-style:italic;
	font-family:arial;
	line-height:3px;}

.p4 {color:#557ab4;
	font-size:13px;
	font-style:italic;
	font-family:arial;}

div {background-color:#dbe9fd;
	padding:20px;
	margin:40px;
	border-radius:15px;
	font-family:arial;
	font-weight:bold;
	color:#1a2961;
	font-size:23px;
	text-indent:40px;
	text-align:justify;}












